body {
  background-color: #C4DAE2;
}

.center {
  text-align: center;
}

.indent {
  text-indent: 30px;
}

.caption {
  text-align: center;
  font-size: 11px;
}

.index .flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.index .frame {
  padding-left: 10px;
  padding-right:10px;
  padding-bottom: 40px;
}

.visitor {
  height: 400px;
  position: fixed;
  bottom: 0;
  margin-left: -85px;
  margin-bottom: -95px;
}

.visitor2 {
  height: 380px;
  position: fixed;
  bottom: 0;
  margin-left: 165px;
  margin-bottom: -100px;
}

.visitor3 {
  height: 400px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 104px;
  margin-bottom: -117px;
}
