body {
  background-color: #C4DAE2;
}

.center {
  text-align: center;
}

.indent {
  text-indent: 30px;
}

.caption {
  text-align: center;
  font-size: 11px;
}

.index .flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.index .frame {
  padding-left: 10px;
  padding-right:10px;
  padding-bottom: 40px;
}

/* .index .geography {
  background-image: url('../img/geography.jpg');
} */

/* .index .ecology {
  background-image: url('../img/ecology.jpg');
} */
