body {
  margin: 0;
  font-family: 'Libre Franklin';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffeded;
  letter-spacing: 0.175rem;
}

@font-face {
  font-family: 'Zanzegi';
  font-weight: 400;
  font-style: normal;
  src: url('assets/ZangeziSans09-Regular.woff') format('woff'),
      url('assets/ZangeziSans09-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Zanzegi Text';
  font-weight: 400;
  font-style: normal;
  src: url('assets/ZangeziSans09-Text.woff') format('woff'),
      url('assets/ZangeziSans09-Text.woff2') format('woff2');
}

.link {
  font-weight: 600;
  color: rgb(228, 98, 176);
  transition: ease 300ms;
}

.link-secondary {
  font-weight: 400;
  color: rgb(228, 98, 176);
  transition: ease 300ms;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 830px;
  margin-right: auto;
  margin-left: auto;
}

.background-container {
  max-width: 1097px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
}

.menu {
  position: absolute;
  top: 700px;
  margin-left: -180px;
}

.menu-link {
  font-style: italic;
  margin-bottom: 30px;
  color: black;
  font-size: 14px;
}

.name {
  font-family: Fraunces;
  letter-spacing: 0px;
  font-size: 68px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin: 0;
  font-size: 18px;
  line-height: 2;
}

.intro {
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.img {
  width: auto;
  height: 70px;
  margin-bottom: 40px;
  margin-left: 40px;
}

.intro-text {
  margin-top: 20px;
  text-align: center;
}

.intro-text p {
  font-family: 'IBM Plex Mono';
  font-size: 16px;
  letter-spacing: 0px;
}

.main {
  background-size: 1050px;
  margin-top: 120px;
}

.section-title {
  font-family: 'IBM Plex Mono';
  letter-spacing: 0px;
  margin-bottom: 26px;
  margin-top: 20px;
  font-size: 16px;
}

.section {
  position: absolute;
  top: 580px;
}

.project {
  margin-bottom: 64px;
}

.p-title-projects {
  margin-bottom: 15px;
  font-family: Fraunces;
  letter-spacing: 0px;
  font-size: 22px;
  margin-top: 24px;
}

.p-title {
  margin-left: 29px;
  margin-bottom: 15px;
  font-family: Fraunces;
  letter-spacing: 0px;
  font-size: 22px;
  margin-top: 16px;
}

.p-subtitle {
  margin-top: 20px;
  margin-left: 29px;
  font-size: 11px;
}

.p-description {
  font-family: 'IBM Plex Mono';
  font-size: 14px;
  margin: 0;
  margin-left: 29px;
  max-width: 830px;
  margin-top: 10px;
  letter-spacing: 0px;
}

.icon {
  font-size: 24px;
}

.link:hover {
  text-decoration: underline;
}

.experience {
  padding-bottom: 30px;
}

.e-title {
  margin-bottom: 10px;
  font-weight: 600;
  margin-top: 40px;
}

.e-description {
  font-size: 15px;
  margin: 0;
}

